.student {

    &__container {
    }

    &__body {
    }

    &__heading {
        font-weight: 500;
        font-size: 75px;
        line-height: 90%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        margin-bottom: 100px;
    }

    &__content {
    }

    &__block {
        margin-bottom: 200px;
        @media (max-width: $m-point) {
            margin-bottom: 80px;
            &:last-child {
                .student__item-body {
                    .student__item-wrapper:first-child {
                        .student__item:last-child {
                            margin-bottom: 10px;
                        }
                    }
                    .student__item-wrapper:last-child {
                        .student__item {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 100%;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
        @media (max-width: $m-point) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    &__item-body {
        display: flex;
        justify-content: space-between;
        @media (max-width: $m-point) {
            flex-direction: column;
        }
    }

    &__item-wrapper {
        .student__item {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $m-point) {
                margin-bottom: 10px;
            }
        }
        &:first-child {
            .student__item {
                &:nth-child(2) {
                    .student__item-heading {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    &__item {
        border: 1px solid $text-secondary;
        border-radius: 20px;
        padding: 41px 40px;
        width: 573px;
        @media (max-width: $m-point) {
            border-radius: 10px;
            padding: 15px;
            width: 100%;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__item-heading {
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        letter-spacing: -0.03em;
        margin-bottom: 40px;
        color: $primary-color;
        @media (max-width: $m-point) {
            font-size: 24px;
            margin-bottom: 10px;
        }
    }

    &__item-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.03em;
        margin-bottom: 10px;
        @media (max-width: $m-point) {
            font-size: 18px;
            margin-bottom: 5px;
        }   
    }

    &__item-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        letter-spacing: -0.03em;
        margin-bottom: 20px;
        color: $text-secondary;
        @media (max-width: $m-point) {
            font-size: 14px;
            margin-bottom: 10px;
        }
    }

    &__item-btn {
        width: 100%;
        border-radius: 20px;
        padding: 20px 149.5px;
        background: $text;
        font-weight: 500;
        font-size: 24px;
        line-height: 150%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: $main-color;
        display: flex;
        transition: .3s ease;
        &:hover {
            background: $primary-color;
        }
        @media (max-width: $m-point) {
            border-radius: 10px;
            padding: 11.5px 0px;
            justify-content: center;
            font-size: 18px;
        }
    }

    &__item-btn-icon {
        margin-left: 20px;
        transform: rotate(-90deg);
        @media (max-width: $m-point) {
            font-size: 18px;
            margin-left: 10px;
        }
    }
}