.novosty {

    &__container {
    }

    &__body {
        margin-bottom: 200px;
        @media (max-width: $m-point) {
            margin-bottom: 80px;
        }
    }

    &__head {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        @media (max-width: $m-point) {
            margin-bottom: 20px;
        }
    }

    &__head-item {
        padding: 20px 30px;
        border-radius: 20px;
        border: 1px solid $text-secondary;
        margin-right: 20px;
        cursor: pointer;
        transition: .3s ease;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background: $primary-color;
            border-color: $primary-color;
            color: $main-color;
        }
        @media (max-width: $m-point) {
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 10px;
            margin-right: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__head-item-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.72px;
        text-transform: uppercase;
        @media (max-width: $m-point) {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &__item-wrapper {
    }

    &__item-block {
        display: flex;
        @media (max-width: $m-point) {
            &:first-child {
                flex-direction: column;
                margin-right: 16px;
            }
        }
    }    

    &__item {
        position: relative;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $text-secondary;
        padding: 20px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        transition: .3s ease;
        &:first-child {
            height: 525px;
            @media (max-width: $m-point) {
                height: auto;
            }
            .novosty__item-date {
                color: $main-color;
                @media (max-width: $m-point) {
                    color: $text-secondary;
                }
            }
            .novosty__item-content {
                max-width: 689px;
            }
            .novosty__item-title {
                color: $main-color;
                font-size: 50px;
                font-weight: 500;
                line-height: 100%;
                letter-spacing: -1.5px;
                margin-bottom: 23px;
                @media (max-width: $m-point) {
                    font-size: 14px;
                    line-height: 120%; 
                    color: $text;
                    letter-spacing: 0;
                    font-weight: 400;
                    margin-bottom: 0;
                }
            }
            .novosty__item-text {
                color: $main-color;
                font-size: 18px;
                font-weight: 400;
                line-height: 120%;
                letter-spacing: -0.54px;  
                @media (max-width: $m-point) {
                    display: none;
                }
            }
            .novosty__item-img {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: -1;
                @media (max-width: $m-point) {
                    position: relative;
                    width: 68px;
                    height: 63px;
                    border-radius: 6.857px;
                    margin-right: 32px;
                }
            }
            .novosty__item-arrow {
                color: $main-color;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background: $primary-color;
            * {
                color: $main-color;
            }
        }
        @media (max-width: $m-point) {
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }

    &__item-date {
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.72px;
        margin-right: 44px;
        @media (max-width: $m-point) {
            font-size: 14px;
            color: $text-secondary;
            margin-bottom: 5px;
        }
    }

    &__item-content {
    }

    &__item-title {
        font-size: 24px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.72px;
        @media (max-width: $m-point) {
            font-size: 14px;
            line-height: 120%; 
        }
    }

    &__item-text {
    }

    &__item-img {
        width: 192px;
        height: 135px;
        border-radius: 10px;
        background: $text-secondary;
        margin-right: 117px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            object-fit: cover;
        }
        @media (max-width: $m-point) {
            width: 68px;
            height: 63px;
            border-radius: 6.857px;
            margin-right: 32px;
        }
    }

    &__item-arrow {
        font-size: 48px;
        color: $text;
        transform: rotate(-90deg);
        @media (max-width: $m-point) {
            font-size: 18px;
            max-width: 18px;
        }
    }
}
