$main-color: #ffff;
$primary-color: #537EE7;
$secondary-color: #632EF2;
$tertiary-color: none;
$text: #000000;
$text-secondary: #B1B1B1;
$error: #ED0A34;
$succes: #0284C7;
$transition: all .5s ease;

$m-point: 1000px;

$mtpage: 150px;
$mtpage-mb: 180px;

.sub {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: $text-secondary;
    margin-bottom: 20px;
    @media (max-width: 600px) {
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background: $text;
    border-radius: 20px;
    color: $main-color;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    @media (max-width: 600px) {
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      border-radius: 10px;
      padding: 11.5px 0px;
    }
}

.page-nav {
    margin-bottom: 40px;
    margin-top: 243px;
    .page-nav-content {
        display: flex;
        li {
            font-weight: 400;
            font-size: 20px;
            line-height: 120%;
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $text-secondary;
                &.active {
                    color: $text;
                }
            }
        }
    }
}

// HEAD PAGE
.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .heading {
        font-weight: 500;
        font-size: 75px;
        line-height: 90%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    .head-btn-wrapper {
        display: flex;
        align-items: flex-end;
        .head-btn {
            width: 75px;
            height: 75px;
            border-radius: 50%;
            background: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            .head-btn-icon {
                font-size: 32px;
                color: $main-color;
            }
        }
    }
}

// SELECT BTN
.__select {
    position: relative;
    width: 300px;
    height: 75px;
    z-index: 10;
    display: block;
    visibility: hidden;
    opacity: 0;
    @media (max-width: $m-point) {
      width: 100%;
      height: 50px;
    }
    
    &.include {
        display: block;
        visibility: visible;
        opacity: 1;
    }
  
    &.active {
      .__select__title {
        &::before {
          transform: translate(-3px, -50%) rotate(-45deg);
        }
  
        &::after {
          transform: translate(3px, -50%) rotate(45deg);
        }
      }
      
      .__select__content {
        opacity: 1;
      }
      
      .__select__label + .__select__input + .__select__label {
        max-height: 66px;
        border-top-width: 1px;
      }
    }
  }
  .__select__title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 8px 30px;
  
    border-radius: 20px;
    background: $text;

    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $main-color;

    transition: all 0.3s ease-out;

    @media (max-width: $m-point) {
      border-radius: 10px;
      font-size: 18px;
      font-weight: 500;
      line-height: 150%;
      justify-content: center;
    }

    cursor: pointer;
  
    &::before,
    &::after {
      content: "";
  
      position: absolute;
      top: 50%;
      right: 16px;
  
      display: block;
      width: 10px;
      height: 2px;
  
      transition: all 0.2s ease-out;
  
      background-color: $main-color;
  
      transform: translate(-3px, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(3px, -50%) rotate(-45deg);
    }
  
    &:hover {
      background: $primary-color;
  
      &::before,
      &::after {
        background-color: $main-color;
      }
    }
  }
  .__select__content {
    position: absolute;
    top: 95px;
    left: 0px;
    overflow: hidden;
    max-height: 268px;
  
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background-color: $main-color;
    border: 1px solid $text-secondary;
    transition: all 0.3s ease-out;
    opacity: 0;
    z-index: 8;
  }
  .__select_content-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 20px;

    &::-webkit-scrollbar {
        width: 20px;
        background-color: $main-color;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $text-secondary;
        border: 5px solid $main-color;
        border-radius: 50px;
    }
  }
  .__select__input {
    display: none;
  
    &:checked + label {
      background-color: #dedede;
    }
    &:disabled + label {
      opacity: 0.6;
      pointer-events: none;
    }
    
  }
  .__select__label {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 66px;
    max-height: 0;
    padding: 0 16px;

    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
    transition: all 0.2s ease-out;
  
    cursor: pointer;
    
    overflow: hidden;
  
    & + input + & {
      border-top: 0 solid #C7CCD160;
    }
  
    &:hover {
      background-color: $primary-color !important;
  
      color: #ffffff;
    }
  }

.__reset {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    background: $text;
    margin-right: 10px;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      background: $primary-color;
    }
}

.__reset_icon {
}


// ARCHIVE BTN
.__archive {
    width: 139px;
    height: 75px;
    border-radius: 20px;
    background: $text;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: $main-color;
    display: none;
    visibility: hidden;
    opacity: 0;

    &.active {
        display: flex;
        visibility: visible;
        opacity: 1;
    }
}